/* * {
  border: 1px solid red;
} */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/gears.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.wrapper {
  display: none;
  /* display: grid; */
  grid-template-columns: 1fr 10fr 10fr 1fr;

  /* grid-template-columns: repeat(auto-fit, 1fr); */

  grid-template-rows: 200px 2fr 1fr 150px;
  grid-gap: 1rem;
  align-items: center;
}

.header {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  text-align: center;
  font-size: 45px;
}

.subheader {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.loginScreen {
  grid-row: 2/ 4;
  grid-column: 2 / 3;
  /* display: none; */
  text-align: center;
}

.loginScreen h1 {
  text-align: center;
}

.userInput {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  margin-top: auto;
  margin-bottom: auto;
  align-self: stretch;
  text-align: center;
}

.userInput input {
  margin: 3px;
}

.userInput label.btn {
  margin: 3px
}

#upload {
  display: flex;
  background-color: goldenrod;
  margin-left: auto;
  margin-right: auto;
}

#browse {
  background-color: purple;
}

.dataInput {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

img {
  height: auto;
  /* width: 100%; */
  max-width: 600px;
  max-height: 400px;
  min-width: 250px;
  background-color: rgb(160, 157, 133, 0.9);
}

.img {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.fileList {
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  align-self: start;
}

.fileList p {
  font-size: 2rem;
  vertical-align: text-top;
  text-align: center;
}


small {
  font-size: 18px;
}

#logout:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
}

.timeInput {
  align-items: center;
}

.datepicker, .timepicker {
  width: 300px;
  max-width: 300px;
  margin: 10px;
  background-color: rgb(160, 157, 133, 0.9);
}

/* #datetimepicker13 .col-md-6 {
} */

#datetimepicker13 .row {
  align-self: center;
  margin: 0;
  justify-content: center;
}
