body {
  /* background-color: #242427; */
  margin: 0;
  font-family: sans-serif;
}

.hero {
  /*sizing*/
  width: 100vw;
  height: 100vh;

  /* flexbox */
  display: flex;
  justify-content: center;
  align-items: center;

  /* text styles */
  text-align: center;
  color: white;

  /* background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/memory.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero h1 {
  /* text styles */
  font-size: 5em;
  /* margins */
  margin-top: 0;
  margin-bottom: 0.5em;
}

.hero .btn {
  /* position and sizing */
  display: block;
  width: 200px;
  /* border styles */
  border-radius: 20px;
  border: 3px solid white;
  /* padding and margins */
  padding: 1em;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  /* text styles */
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  /* background color fill */
  background-color: black;
}
