/* font-family: 'Unica One', cursive; */
.container {
  text-align: center;
  /* color: hsl(360, 100%, 100%); */
  /* background-image linear-gradient("up",hsl(360, 80%, 20%),hsl(30, 100%, 40%),hsl(360, 100%, 100%); */
}

h2 {
  font-family: sans-serif;
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 3vmax;
}

img {
  width: 60vh;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: black;
}

/* Container holding the image and the text */
.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%);
}
