body {
  font-family: sans-serif;
  background-color: #A1CCF1;
  color: white;
}

h1 {
  color: #26409B;
  text-align: center;
}

h2 {
  top: 0px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.css-grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 1em;
}

#capsule-pic {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

#current-time {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  font-size: 4vmin;
  margin-left: 3vw;
  margin-right: 1vw;
  align-self: center;
}

#carouselIndicators {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  display: none;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

#deleteCapsule {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
}

img.d-block {
  align-self: center;
  justify-self: center;
}
/* #carouselIndicators img {
  height: 500px;
} */

#logout:hover {
  text-decoration: underline;
  cursor: pointer;
}


#carouselIndicators img {
        height: 30vw;
        object-fit: contain;
}

#deleteCapsule {
  display: none;
}
